/* navigation -  */

#navbar{
    flex-direction: column;
}
#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
}


/* Home -  */
#home{
    
    height: 176px;
    padding: 73px 20px;
    margin: 17px 0px;


}
#home p {
    font-size: 13px;
}
#home::before{
    height: 480px;
}

/* Services -  */

#services {
    flex-direction: column ;
}
#services .box{
    margin: 5px;
}
#services .box img{
    height: 140px;   
}
/* Clients -  */

#clients {
    /* overflow: hidden; */
    flex-wrap: wrap;
}
#clients img{
    /* width: 50px; */
    /* padding: 44px;    */
    height: 80px;
}
.client-item {
    padding: 3px;
}


#client-section::before {
    height: 50%;
}
/* Contact Us  */
#contact-box form {
    width: 70%;
    /* justify-content: center; */
}

/* Footer --  */

/* Utility =  */
.h-primary{
    font-size: 26px;
}
